[submodule "mobile_app_dev/Android_Geocalc"]
	path = mobile_app_dev/Android_Geocalc
	url = https://github.com/Brinjenga/Andoid_GeoCalc
[submodule "mobile_app_dev/iOS_Geocalc"]
	path = mobile_app_dev/iOS_Geocalc
	url = https://github.com/kkredit/IOS_GeoCalc
[submodule "mobile_app_dev/MQTT_Sweeper_Android"]
	path = mobile_app_dev/MQTT_Sweeper_Android
	url = https://github.com/kkredit/MQTT-sweeper-android
[submodule "web_development/rails-bugtracker"]
	path = web_development/rails-bugtracker
	url = https://github.com/kkredit/ruby-bugs
[submodule "web_development/react-bugtracker-frontend"]
	path = web_development/react-bugtracker-frontend
	url = https://github.com/kkredit/ruby-bugs-react
[submodule "web_development/rails-blog-bootstrap"]
	path = web_development/rails-blog-bootstrap
	url = https://github.com/kkredit/rails-blog-fancy
[submodule "database_design/cumulative_project"]
	path = database_design/cumulative_project
	url = https://github.com/kkredit/cis673-database-project
[submodule "web_development/slp-therapy-tracker-react"]
	path = web_development/slp-therapy-tracker-react
	url = https://github.com/kkredit/slp-therapy-tracker
[submodule "web_development/slp-therapy-tracker-rails"]
	path = web_development/slp-therapy-tracker-rails
	url = https://github.com/kkredit/slp-therapy-tracker-backend
[submodule "security_privacy/rogue-switch-detection-paper"]
	path = security_privacy/rogue-switch-detection-paper
	url = https://github.com/kkredit/rogue-switch-detection-paper
[submodule "secure_development/static-analysis-research-paper"]
	path = secure_development/static-analysis-research-paper
	url = https://github.com/kkredit/static-analysis-research-paper
[submodule "secure_development/statick-docker"]
	path = secure_development/statick-docker
	url = https://github.com/kkredit/statick-docker
[submodule "security_principles/smart-home-threat-model"]
	path = security_principles/smart-home-threat-model
	url = https://github.com/kkredit/smart-home-threat-model
[submodule "security_principles/incident-response-procedure"]
	path = security_principles/incident-response-procedure
	url = https://github.com/kkredit/incident-response-procedure
[submodule "thesis/gvsu-thesis-template"]
	path = thesis/gvsu-thesis-template
	url = https://github.com/kkredit/thesis-template
[submodule "programming_languages"]
	path = programming_languages
	url = https://github.com/kkredit/pl-study
