[submodule "mobile_app_dev/Android_Geocalc"]
	path = mobile_app_dev/Android_Geocalc
	url = https://github.com/Brinjenga/Andoid_GeoCalc
[submodule "iOS_Geocalc"]
	path = iOS_Geocalc
	url = https://github.com/kkredit/IOS_GeoCalc
[submodule "MQTT_Sweeper_Android"]
	path = MQTT_Sweeper_Android
	url = https://github.com/kkredit/MQTT-sweeper-android
